.social {

    &__list {

    }

    &__item {
        display: inline-block;
        margin-right: 25px;

        &:last-child {
            margin-right: 0;
        }
    }

    &__link {

        &:hover .social__icon > path {
            fill: @color-accent;
        }
    }

    &__icon{}
}