@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/robotomono/v13/L0xuDF4xlVMF-BfR8bXMIhJHg45mwgGEFl0_gPqPQw.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/robotomono/v13/L0xuDF4xlVMF-BfR8bXMIhJHg45mwgGEFl0_3vqPQw.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/robotomono/v13/L0xuDF4xlVMF-BfR8bXMIhJHg45mwgGEFl0_7PqPQw.ttf) format('truetype');
}
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}
ul[class],
ol[class] {
  padding: 0;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}
ul {
  list-style: none;
}
img {
  max-width: 100%;
  display: block;
}
input,
button,
textarea,
select {
  font: inherit;
}
a {
  text-decoration: none;
}
a:hover,
a:visited {
  text-decoration: none;
}
.font-heading-1 {
  font-size: 26px;
  line-height: 1.307em;
}
.font-heading-2 {
  font-size: 20px;
  line-height: 1.3em;
}
.font-body {
  font-size: 16px;
  line-height: 1.5em;
}
.font-text {
  font-size: 14px;
  line-height: 1.5em;
}
.font-label {
  font-size: 13px;
  line-height: 1.307em;
}
html,
body {
  height: 100%;
  font-family: 'Roboto Mono', monospace;
  font-style: normal;
  font-size: 16px;
  font-weight: 300;
  color: #1A1A1A;
}
.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 60%;
}
.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.footer {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}
.container {
  max-width: 586px;
  margin: 0 auto;
  padding: 0 15px;
}
.link-text {
  color: #555555;
}
.link-text:hover {
  color: #3F51B5;
  border-bottom: 1px solid #1A1A1A;
}
.hyperlink {
  font-size: 16px;
  line-height: 1.5em;
  display: inline-block;
  font-weight: 300;
  border-bottom: 1px solid #1A1A1A;
  color: #1A1A1A;
}
.hyperlink:hover {
  color: #3F51B5;
  border-color: #3F51B5;
}
.btn-common {
  font-size: 16px;
  line-height: 1.5em;
  background: #1A1A1A;
  padding: 11px 30px;
  color: #FFFFFF;
  border: none;
  outline: none;
}
.btn-common:hover {
  cursor: pointer;
  background: #3F51B5;
  color: #FFFFFF;
}
.text-list > li:before {
  display: inline-block;
  content: "";
  width: 12px;
  height: 12px;
  background: #555555;
  border-radius: 50%;
  margin-right: 12px;
}
.split-line {
  display: block;
  position: relative;
  width: 100%;
  height: 1px;
  background: #F0F0F0;
  margin-top: 65px;
}
.split-line:after {
  display: inline-block;
  position: absolute;
  left: 0;
  right: 0;
  top: -4px;
  bottom: 0;
  margin: 0 auto;
  content: "";
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background: #ffffff;
  border: 1px solid #F0F0F0;
}
.split-line_margin-top_small {
  margin-top: 45px;
}
.header {
  text-align: center;
  padding: 45px 0;
  margin-bottom: 73px;
}
.nav-menu {
  display: inline-block;
}
.nav-menu__list {
  display: inline-block;
}
.nav-menu__item {
  display: inline-block;
  margin-right: 45px;
}
.nav-menu__item:last-child {
  margin-right: 0;
}
.nav-menu__item_active > .nav-menu__link {
  background: #3F51B5;
  color: #FFFFFF;
}
.nav-menu__link {
  font-size: 16px;
  line-height: 1.5em;
  padding: 4px 9px;
  background: transparent;
  color: #1A1A1A;
}
.nav-menu__link:hover {
  outline: 1px solid #3F51B5;
}
.person-preview_on_middle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.card-person {
  text-align: center;
}
.card-person__image {
  display: inline-block;
  border-radius: 50%;
}
.card-person__name {
  margin-top: 30px;
}
.card-person__text {
  display: block;
  margin-top: 30px;
}
.card-person__social {
  margin-top: 25px;
}
.social__item {
  display: inline-block;
  margin-right: 25px;
}
.social__item:last-child {
  margin-right: 0;
}
.social__link:hover .social__icon > path {
  fill: #3F51B5;
}
.about__title {
  text-align: center;
}
.about__description {
  margin-top: 26px;
}
.ad-info {
  margin-top: 30px;
}
.ad-info__list {
  margin-top: 15px;
}
.ad-info__list > li:before {
  display: inline-block;
  content: "";
  width: 12px;
  height: 12px;
  background: #555555;
  border-radius: 50%;
  margin-right: 12px;
}
.ad-info__link {
  color: #555555;
}
.ad-info__link:hover {
  color: #3F51B5;
  border-bottom: 1px solid #1A1A1A;
}
.posts {
  margin-top: 60px;
}
.posts__item {
  margin-bottom: 34px;
}
.posts__item:last-child {
  margin-bottom: 0;
}
.posts__link-pager {
  text-align: center;
  margin-top: 49px;
}
.posts__btn-new-post {
  display: inline-block;
  margin-bottom: 30px;
}
.post-preview__link {
  color: #555555;
}
.post-preview__link:hover {
  color: #3F51B5;
  border-bottom: 1px solid #1A1A1A;
}
.post-preview__title {
  display: inline-block;
  max-width: 345px;
  width: 100%;
}
.post-preview__date {
  display: inline-block;
  float: right;
}
.post__header {
  text-align: center;
}
.post__title {
  text-align: center;
}
.post__info {
  margin-top: 29px;
}
.post__date {
  margin-left: 37px;
}
.post__image-author {
  display: inline-block;
  border-radius: 50%;
}
.post__content {
  margin-top: 45px;
}
.post__share {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 45px;
}
.post__conversation {
  margin-top: 60px;
}
.post__comments {
  margin-top: 60px;
}
.post-editor__title {
  text-align: center;
}
.form-post__label {
  display: block;
}
.form-post__input {
  display: block;
  min-width: 100%;
  max-width: 100%;
}
.form-post__input_textarea {
  min-height: 400px;
}
.footer {
  padding: 60px 0;
}
.footer__copyright {
  font-size: 13px;
  line-height: 1.307em;
  display: block;
  text-align: center;
}
